.about-section * {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

.about-section .container {
    width: 99vw;
    height: 100vh;

    position: absolute;

    background-color: var(--main-background);
}

.about-section .container .container-title {
    width: 100%;

    font-size: 60px;
    font-family: 'aileronB';
    text-align: center;
}

.about-section__tech-stack {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.loader-about {
    position: fixed;

    width: 100vw;
    height: 100vh;

    clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
}

.loader-about .img {
    position: absolute;

    width: 100vw;
    height: 100vh;

    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
}

.loader-about .img:first-child {
    clip-path: polygon(0% 100%, 100% 100%, 100% 0%, 0% 0%);
}

.loader-about img {
    width: 100%;
    height: 100%;

    object-fit: cover;
}

.overlay {
    position: fixed;

    width: 100vw;
    height: 100vh;

    background-color: var(--secundary-background);

    display: flex;

    clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
}

.col {
    width: 80%;

    padding: 2em;
}

.overlay .col h2 {
    margin: 0;

    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);

    font-size: clamp(40px, 12vw, 120px);
    line-height: 1;
    text-align: left;
    font-family: 'aileronB';

    white-space: nowrap;

    color: white;
}


.col h2 {
    font-size: clamp(18px, 2.4vw, 24px);
    text-align: right;

    font-family: 'aileronL';

    color: gray;
}

.col h2 span {
    color: white;
}

@media screen and (max-width:800px) {
    .col {
        width: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .click-here h2 {
        margin-top: 50px;
    }
}