.about-section * {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

.about-section .about-me-section {
    width: 99vw;
    height: auto;

    position: absolute;

    background-color: var(--main-background);
}


.about-me-section__tech-stack {
    width: 100%;

    font-size: clamp(30px,3vw,30px);
    font-family: 'aileronB';
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-bottom: 2%;
}

.about-me-section__tech-stack h3 {
    margin-bottom: 2%;
    color: black;
}

.about-me-section__tech-stack button {
    height: 30px;
    padding: 0 0 0 30px;
}

.about-me-section__juanda {
    margin-top: 5%;
}

.about-me-section__juanda div {
    display: flex;
    justify-content: center;
}

.about-me-section__juanda img{
    width: 25%;
    border-radius: 15px;
    position: relative;
    z-index: 2;
}

.about-me-section__juanda div:nth-child(2){
    border-radius: 0px;
    background-color: var(--secundary-background);

    width: 100vw;

    margin-inline: auto;

    transform: translateY(-200px);
}

.about-me-section__juanda div:nth-child(2) p {
    margin-top: 250px;
    margin-bottom: 80px;

    font-size: 18px;
    text-align: left;
    font-family: 'aileronUL';
    color: white;

    width: 80%;
}

/*marquee*/
.marquee {
    position: relative;

    background-color: transparent;
    color: black;

    padding: 30px 0;

    font-size: clamp(20px,4vw,40px);
    font-family: 'aileronB';

    margin-top: 5%;

    overflow: hidden;
}

.marquee__inner {
    display: flex;

    width: fit-content;
    
    flex: auto;
    flex-direction: row;
}

.marquee__part {
    display: flex;
    align-items: center;
    
    flex-shrink: 0;
    padding: 0 4px;
}

.arrow {
    max-width: 60px;
    width: 6vw;
    min-width: 30px;

    max-height: 80px;
    height: 8vw;
    min-height: 40px;

    margin: 0 1em;

    transform: rotate(90deg);
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165,1);
}

.arrow img {
    width: 100%;
}

.arrow.active {
    transform: rotate(-90deg);
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165,1);
}


/*Loader*/
.loader-about {
    position: fixed;

    width: 100vw;
    height: 100vh;

    clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
}

.loader-about .img {
    position: absolute;

    width: 100vw;
    height: 100vh;

    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
}

.loader-about .img:first-child {
    clip-path: polygon(0% 100%, 100% 100%, 100% 0%, 0% 0%);
}

.loader-about img {
    width: 100%;
    height: 100%;

    object-fit: cover;
}

.overlay {
    position: fixed;

    width: 100vw;
    height: 100vh;

    background-color: var(--secundary-background);

    display: flex;

    clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
}

.col {
    width: 80%;

    padding: 2em;
}

.overlay .col h2 {
    margin: 0;

    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);

    font-size: clamp(40px, 12vw, 120px);
    line-height: 1;
    text-align: left;
    font-family: 'aileronB';

    white-space: nowrap;

    color: white;
}

.col h2 {
    font-size: clamp(18px, 2.4vw, 24px);
    text-align: right;

    font-family: 'aileronL';

    color: gray;
}

.col h2 span {
    color: white;
}

@media screen and (max-width:800px) {
    .col {
        width: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .click-here h2 {
        margin-top: 50px;
    }
}