.tech-tack-section * {
    box-sizing: border-box;
}

.tech-tack-section {
    margin: 0;
    padding: 0;

    width: 100vw;
    height: 50vh;

    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: white;
}

.tech-tack-section canvas {
    width: 50vw !important;
    height: 50vh !important;
}
